.container {
  background-color: transparent;
  margin-top: 66px;
  height: 100vh;
  width: 100%;
  background-image: url("/static/banner.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 700px;
  position: relative;
}

.carasoul {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 15%;
  left: 5%;
}

.slide {
  padding-bottom: 100px;
}

.heading {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
}

.description {
  padding: 10px;
  max-width: 550px;
  width: 98%;
  color: #fff;
}

@media (max-width: 700px) {
  .carasoul {
    top: 12%;
  }

  .slide {
    padding-bottom: 70px;
  }

  .heading {
    font-size: 45px;
  }
}

@media (max-width: 500px) {
  .carasoul {
    top: 10%;
  }

  .slide {
    padding-bottom: 50px;
  }

  .heading {
    font-size: 40px;
  }
}
